<br><br><br><br><br><br><br><br><br><br>
<table class="table table-bordered">
	<tr>
		{% if doc.customer %}
			{%  set customer = frappe.get_doc("Customer", doc.customer) %}
		{% endif %}
		{% if doc.company %}
			{%  set company = frappe.get_doc("Company", doc.company) %}
		{% endif %}
		{% if doc.customer_address %}
			{%  set address = frappe.get_doc("Address", doc.customer_address) %}
		{% endif %}
		{% if doc.company_address %}
			{%  set company_address = frappe.get_doc("Address", doc.company_address) %}
		{% endif %}
	<td colspan = "5" style="width:60%;border-left:0px;border-right:0px"><strong>Invoice No : </strong>{{ doc.sales_tax or " " }} - {{ doc.tax_number or " " }}<br><br><strong>Supplier's Name : </strong>M/S {{ doc.company }}<br><br><strong>Address : </strong>{{ company_address.address_line1 }}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ company_address.address_line2 }}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ company_address.city }}<br><br><strong>Telephone No : </strong>{{ company_address.phone or " " }}<br><strong>ST Reg.No. : </strong>S{{ company.tax_id }}<br><strong>N.T.N Reg.No. : </strong>{{ company.tax_id }}</td>
	<td colspan = "5" style="width:60%;border-left:0px;border-right:0px"><strong>Date : </strong>{{ doc.get_formatted("invoice_date") or " " }}<br><br><strong>Customer : </strong>M/S {{ doc.customer_name }}<br><br><strong>Address : </strong>{{ address.address_line1 }}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ address.address_line2 }},{{ address.city }}<br><br><strong>GST : </strong>{{ customer.gst_number or " " }}<br><strong>N.T.N Reg.No. : </strong>{{ customer.tax_id or " "}}</td>
	</tr>
	<tr>
		<th width="1%">Sr</th>
		<th width="6%" style="text-align: right;">Qty</th>
		<th width="6%" style="text-align: right;">Unit</th>
		<th width="30%" style="text-align: right;">Description Of Goods</th>	
		<th width="10%" style="text-align: right;">Unit Price</th>
		<th width="9%" style="text-align: right;">Value Excluding Sales Tax</th>
		<th width="13%" style="text-align: right;">Rate of Sales Tax</th>
		<th width="13%" style="text-align: right;">Total Sales Tax Payable</th>
		<th width="13%" style="text-align: right;">Value including Sales Tax</th>
	</tr>
	{% for row in doc.items %}
	<tr >
		<td width="1%">{{loop.index}}</td>
		<td width="10%" style="text-align: right;">{{ row.qty }}</td>
		<td width="10%" style="text-align: right;">{{ row.uom }}</td>
		<td width="9%">{{ row.item_group }}{{ row.item_name }}</td>
		<td width="9%" style="text-align: right;">{{ frappe.format_value(row.rate, {"fieldtype":"Currency"}) }}</td>
		<td width="13%" style="text-align: right;">{{ frappe.format_value(row.amount, {"fieldtype":"Currency"}) }}</td>
		{% if doc.taxes_and_charges == "GST - ME"%}
		{%  set tax = 17 %}
		{% else %}
		{%  set tax = 13 %}
		{% endif %}
		<td width="10%" style="text-align: right;">{{ tax }} %</td>
		<td width="13%" style="text-align: right;">{{ frappe.format_value((row.amount*(tax/100)), {"fieldtype":"Currency"}) }}</td>
		<td width="13%" style="text-align: right;">{{ frappe.format_value((row.net_amount + (row.amount*(tax/100))), {"fieldtype":"Currency"}) }}</td>						
	</tr>
	{% endfor %}
		{% if doc.taxes_and_charges == "GST - ME"%}
		{%  set tax = 17 %}
		{% else %}
		{%  set tax = 13 %}
		{% endif %}
	<tr>
		<th colspan = "1";></td>
		<th colspan = "1";></td>
		<th colspan = "1";></td>
		<th colspan = "1";><strong>Total Amount : </strong></td>
		<th colspan = "1";></td>
		<th colspan = "1"; style="text-align: right;">{{ frappe.format_value(doc.total, {"fieldtype":"Currency"}) }}</td>
		<th colspan = "1"; style="text-align: right;">{{ tax }} %</td>
		<th colspan = "1"; style="text-align: right;">{{ frappe.format_value((doc.total*(tax/100)), {"fieldtype":"Currency"}) }}</td>
		<th colspan = "1"; style="text-align: right;">{{ frappe.format_value(((doc.total + (doc.total*(tax/100)))), {"fieldtype":"Currency"}) }}</td>		
	</tr>
</table>
